<a href="https://colab.research.google.com/github/bhanu-katoch/data_set/blob/main/DS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#WEB SCRAPING - SCRAPING/EXTRACTING of data from the web
#BeautifulSoup for Web Scraping
#Now here we will extract data from Amazon Customer Review Page

In [ ]:
#url : https://www.amazon.in/Apple-iPhone-14-512GB-Blue/product-reviews/B0BDJH3V3Q/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews

In [ ]:
import requests #importing the requests library
from bs4 import BeautifulSoup as bs 
#bs4 is a package , BeautifulSoup is library

In [ ]:
url = 'https://www.amazon.in/Apple-iPhone-14-512GB-Blue/product-reviews/B0BDJH3V3Q/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews'
page = requests.get(url) #we are extracting this url and loading the data of amazon webpage
page
#<Response [200]> is okayy ,but <Response [503]> is an error .Try re running the cell for 5-6times
#Even after that if error exists,check for correct url

In [ ]:
page.content

In [ ]:
soup = bs(page.content,'html.parser') #I want page.content into html.parser format
#html.parser format is a better readable format
soup

In [ ]:
#NEVER EVER CONSIDER TOP POSITIVE and TOP CRITICAL REVIEW

In [ ]:
#Let us just extract the Customer Names
names = soup.find_all('span',class_ = 'a-profile-name')[2:]
names

[<span class="a-profile-name">Prasanna</span>,
 <span class="a-profile-name">LALITKUMARBHARDWAJAmazon Customer</span>,
 <span class="a-profile-name">amatraveler<span class="a-icon a-profile-verified-badge"><span class="a-profile-verified-text"></span></span></span>,
 <span class="a-profile-name">Mohd Aadil<span class="a-icon a-profile-verified-badge"><span class="a-profile-verified-text"></span></span></span>,
 <span class="a-profile-name">rajpal yadav</span>,
 <span class="a-profile-name">Anand Kumar Singh</span>,
 <span class="a-profile-name">Harinder</span>,
 <span class="a-profile-name">Sriharsha</span>,
 <span class="a-profile-name">Sridhar B.</span>,
 <span class="a-profile-name">Jay</span>]

In [ ]:
len(names)

10

In [ ]:
#Now let us just create a dataframe and add a column Customer name and give in names list data
import pandas as pd
df = pd.DataFrame(names,columns = {'Customer Name'})
df

/usr/local/lib/python3.7/dist-packages/pandas/core/internals/construction.py:540: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

                         Customer Name
0                           [Prasanna]
1  [LALITKUMARBHARDWAJAmazon Customer]
2                  [amatraveler, [[]]]
3                   [Mohd Aadil, [[]]]
4                       [rajpal yadav]
5                  [Anand Kumar Singh]
6                           [Harinder]
7                          [Sriharsha]
8                         [Sridhar B.]
9                                [Jay]

In [ ]:
#Next is Review Title
r_title = soup.find_all('a',class_ = 'review-title')
r_title

[<a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R3QN7WHCT1NEQA?ASIN=B0BDJH3V3Q">
 <span>Exceeding my expectation. Go for it.</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/RKCKA25ZAOSMI?ASIN=B0BDJH3V3Q">
 <span>I love iPhone</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R3F7MY168QWDF7?ASIN=B0BDJH3V3Q">
 <span>Product match the descriptions.</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R3HRYRF02522UY?ASIN=B0BDJH3V3Q">
 <span>Better to have 13 pro than 14</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R3UXZI3NPWU8AG?ASIN=B0BDJH3V3Q">
 <span>Very bad colour and Amazon not change colour one purchase after</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R2D1ET2XUGLKE7?ASIN=B0BDJH3V3Q">
 <span>Definitely itâ€™s worth it</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R4CGCJLFE97G6?ASIN=B0BDJH3V3Q">
 <span>Dashing look... Purple ðŸŸ£ iPhone pro</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R2JONP8B0ETGF6?ASIN=B0BDJH3V3Q">
 <span>it's worth it.</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/R3TKCPQ8ESOY9?ASIN=B0BDJH3V3Q">
 <span>Iphone 14</span>
 </a>,
 <a class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" data-hook="review-title" href="/gp/customer-reviews/RWRBDN8H7A4DD?ASIN=B0BDJH3V3Q">
 <span>I is very good phone but all thing I a 13 mini</span>
 </a>]

In [ ]:
len(r_title)

10

In [ ]:
#Data Filtering
review_title = [] #empty list
for i in range(0,len(r_title)):
  review_title.append(r_title[i].get_text()[1:-1]) #excluding index no 0 and index no -1
review_title

['Exceeding my expectation. Go for it.',
 'I love iPhone',
 'Product match the descriptions.',
 'Better to have 13 pro than 14',
 'Very bad colour and Amazon not change colour one purchase after',
 'Definitely itâ€™s worth it',
 'Dashing look... Purple \U0001f7e3 iPhone pro',
 "it's worth it.",
 'Iphone 14',
 'I is very good phone but all thing I a 13 mini']

In [ ]:
#Next is review dates
dates = soup.find_all('span',class_ = 'review-date')[2:]
dates

[<span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 22 September 2022</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 23 September 2022</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 20 September 2022</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 22 September 2022</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 21 September 2022</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 21 September 2022</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 16 September 2022</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 16 September 2022</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 18 September 2022</span>,
 <span class="a-size-base a-color-secondary review-date" data-hook="review-date">Reviewed in India ðŸ‡®ðŸ‡³ on 17 September 2022</span>]

In [ ]:
len(dates)

10

In [ ]:
#Data Filtering
review_date = [] #empty list
for i in range(0,len(dates)):
  review_date.append(dates[i].get_text().replace('Reviewed in India ðŸ‡®ðŸ‡³ on ',''))
review_date

['22 September 2022',
 '23 September 2022',
 '20 September 2022',
 '22 September 2022',
 '21 September 2022',
 '21 September 2022',
 '16 September 2022',
 '16 September 2022',
 '18 September 2022',
 '17 September 2022']

In [ ]:
#Next is Review Rating in Stars
rating = soup.select('i.review-rating')[2:]
rating

[<i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-3 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">3.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-1 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">1.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-3 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">3.0 out of 5 stars</span></i>,
 <i class="a-icon a-icon-star a-star-5 review-rating" data-hook="review-star-rating"><span class="a-icon-alt">5.0 out of 5 stars</span></i>]

In [ ]:
len(rating)

10

In [ ]:
#Data Filtering
review_rating = [] #empty list
for i in range(0,len(rating)):
  review_rating.append(rating[i].get_text())
review_rating

['5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '3.0 out of 5 stars',
 '1.0 out of 5 stars',
 '5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '5.0 out of 5 stars',
 '3.0 out of 5 stars',
 '5.0 out of 5 stars']

In [ ]:
#WE have extracted names and put it in df
#We extracted review_title,review dates,review rating
#Let us add review_title,review dates,review rating in df

In [ ]:
df['Review Title'] = review_title
df['Review Date'] = review_date
df['Review Rating'] = review_rating
df

,Customer Name,Review Title,Review Date,Review Rating
0,[Prasanna],Exceeding my expectation. Go for it.,22 September 2022,5.0 out of 5 stars
1,[LALITKUMARBHARDWAJAmazon Customer],I love iPhone,23 September 2022,5.0 out of 5 stars
2,"[amatraveler, [[]]]",Product match the descriptions.,20 September 2022,5.0 out of 5 stars
3,"[Mohd Aadil, [[]]]",Better to have 13 pro than 14,22 September 2022,3.0 out of 5 stars
4,[rajpal yadav],Very bad colour and Amazon not change colour o...,21 September 2022,1.0 out of 5 stars
5,[Anand Kumar Singh],Definitely itâ€™s worth it,21 September 2022,5.0 out of 5 stars
6,[Harinder],Dashing look... Purple ðŸŸ£ iPhone pro,16 September 2022,5.0 out of 5 stars
7,[Sriharsha],it's worth it.,16 September 2022,5.0 out of 5 stars
8,[Sridhar B.],Iphone 14,18 September 2022,3.0 out of 5 stars
9,[Jay],I is very good phone but all thing I a 13 mini,17 September 2022,5.0 out of 5 stars